
<table border="2">
    <tr>
    <td>ID</td>
    <td>NAME</td>
    <td>EMAIL</td>
    <td>AGE</td>
    <td>Classroom</td>
    <td>ACTIONS</td>
    <tr>

        {% for i in response%}
        <tr>
            <td>{{i.id}} </td>
            <td>{{i.name}} </td>
            <td>{{i.email}} </td>
            <td>{{i.age}} </td>
            <td>{{i.classroom}} </td>
            <td>
                    <a href={{path('update',{'id':i.id})}} >update
                    <a href={{path('remove',{'id':i.id})}} >Remove
            </td>
        </tr>
        {% endfor%}

</table>
